.footer {
    display: flex;
    height: 105px;
    width: 100%;
    background-color: #717075;
}

.footer-content {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.footer-information {
    display: flex;
    color: #ffffff;
    font-size: 14px;
}

.footer-text {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.contact-information {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.contact-information__icon {
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    fill: white;
}

.contact-information__text {
    margin-left: 14px;
}

@media(max-width: 768px) {
    .footer {
        height: auto;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer-information{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        line-height: 3;
    }

    .footer-text {
        margin: 20px 0 20px 0;
    }

    .contact-information__text {
        vertical-align: middle;
    }
}